{% extends 'base.html' %}

{% block content %}

    <section class="section">
        <div class="container">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        <div id="chat-messages" class="box-div">{% for m in messages %}<b>{{ m.username }}</b>: {{ m.content }}<br>{% endfor %}</div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Tell something {{ username }}" id="chat-message-input" name="message">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <a class="button is-success" id="chat-message-submit">Submit</a>
                            <a href="javascript:insert_command()" role="button" class="button is-primary" id="chat-message-submit">Bot</a>
                            <a href="{% url 'home' %}" class="button is-danger">LogOut ChatRoom</a>
                        </div>
                    </div>
                    <small class="has-text-grey-light"><strong>Hello! {{ username }}, What's Up?!</strong></small>
                </div>
            </div>
        </div>
    </section>

    {{ room_name|json_script:"json-roomname" }}
    {{ username|json_script:"json-username" }}

    <script>
        
        function insert_command() {
            $("#chat-message-input").val("/stock=aapl.us").focus();
        }

        function scrollToBottom() {
            let objDiv = document.getElementById("chat-messages");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();

        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            console.log('onmessage');

            const data = JSON.parse(e.data);

            if (data.message) {
                document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
            } else {
                alert('The message is empty!');
            }

            scrollToBottom();
        };

        chatSocket.onclose = function (e) {
            console.log('The socket close unexpectadly');
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));

            messageInputDom.value = '';
        };
    </script>

{% endblock content %}