{% extends 'base.html' %}

{% block header %}

    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex align-items-center"><a class="navbar-brand py-1" href="/">
                    <i class="fas fa-video fa-3x"></i>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            </div>
        </nav>
    </header>

{% endblock header %}